<table class="attr">
<%= form_for @entry, html: {multipart: true} do |form| %>

<br>写真</br>
<div class="field">
<%= form.fields_for :picture do |imgf| %>
  <th><%= imgf.label :photo %></th>
      <%= imgf.file_field :photo %>
<% end %>
</div>

<br>投稿ナンバー</br>
<%= form.text_field :entrynumber %>

<br>指標テンプレート</br>
<%= form.text_field :scale_templatenumber %>


<br>コメント</br>
<%= form.text_area :comment, cols: 40, rows: 6%>
<tr>
<br>投稿日</br>
<%= form.date_select :entrydate%>
</tr>
<br>
<% options = 1..5 %>
苦味 <%= form.select :value1, options %>
香り <%= form.select :value2, options %>
酸味 <%= form.select :value3, options %>
コク <%= form.select :value4, options %>
</br>
<div class="actions">
<p><%= form.submit %></P>
</div>
<% end %>
