<%= form_for @entry do |form| %>
<div id="entries_new">
<!---<br>写真</br>-->
    <%= form.fields_for :image, @entry.build_image do |imgf| %>
      <th><%= imgf.label :写真 %></th>
        <%= imgf.file_field :photo %>
    <% end %>
  <br>投稿ナンバー</br>
  <%= form.text_field :entrynumber %>

  <br>指標テンプレート</br>
  <%= form.text_field :scale_templatenumber %>

  <br>コメント</br>
  <%= form.text_area :comment, cols: 40, rows: 6%>
  <tr>
  <br>投稿日
  <%= form.date_select :entrydate%></br>
  </tr>
  <br>
  <% options = 1..5 %>
  苦味 <%= form.select :value1, options %>
  香り <%= form.select :value2, options %>
  酸味 <%= form.select :value3, options %>
  コク <%= form.select :value4, options %>
  </br>
</div>

<div class="actions">
<p><%= form.submit %></P>
</div>
<% end %>
