<% @page_title = "ユーザー編集" %>
<h2><%= @page_title %></h2>

<h2><%= link_to "ユーザー情報一覧", @users %></h2>

<% @user = User.edit unless @user %>
<%= form_for @user do |form| %>

<br>ユーザー名<%= form.text_field :name ,size: 16 %></br>

<br>パスワード<%= form.password_field :password ,size: 12 %></br>
<br>パスワードの確認<%= form.password_field :password_confirmation ,size: 12 %></br>
<% unless @user.new_record? %>
<p>パスワードを変更しないときは、パスワード入力欄を空にしてください。</p>

<p><%= form.submit %></p>
<% end %>
