<%= render "shared/login_form" %>
<div class="sidebar">
<br><%= menu_link_to "TOP", root_path %></br>
<br><%= menu_link_to "投稿一覧", "entries" %></br>
<br><%= menu_link_to "ログイン", "#" %></br>
<br><%= menu_link_to "投稿", "entries/new" %></br>
<br><%= menu_link_to "検索", "#" %></br>
</div>
