<%= render "shared/login_form" %>

<div class="sidebar">
<%= menu_link_to "TOP", root_path %>
&nbsp;|&nbsp; <%= menu_link_to "投稿一覧", "entries" %>
&nbsp;|&nbsp; <%= menu_link_to "ログイン", "#" %>
&nbsp;|&nbsp; <%= menu_link_to "投稿", "entries" %>
&nbsp;|&nbsp; <%= menu_link_to "検索", "#" %>
</div>
