<div class="sidebar">
<br><%= menu_link_to "TOP", root_path %></br>
<br><%= menu_link_to "投稿一覧", "entries" %></br>
<br>
<%= render"shared/login_form" unless current_user %>
</br>
<% if current_user %>
<br><%= menu_link_to "投稿", "entries/new" %></br>
<br><%= menu_link_to "ユーザー","users" %></br>
<% end %>
<% if current_user %>
<P class= "user">
<%= current_user.name %> さん
<%= link_to "ログアウト", :session,
      method: :delete, data: { confirm: "ログアウトしますか?"} %>
</p>

<% end %>
</div>
