<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= page_title %></title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all'%>
</head>
<body>
  <div id="container">
    <div id="header">
      <%= render "shared/header" %>
    </div>
  </div>
  <block id="sidebar">
    <%= render "shared/sidebar" %>
  </block>
  <block id="content">
    <%= yield %>
  </block>
</body>
</html>
